{% extends 'course/base.html' %}

{% block content %}
<br>
<div class="container bg-light rounded-1">
    <div class="row">
        <div class="col">
            <h3>{{ course.name }}</h3>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">

            {% if flag_msg == 0%}
            <h3 class="text-danger">Результат: {{ res_messeger }}</h3>
            {% endif %}
            {% if flag_msg == 1%}
            <h3 class="text-success">Результат: {{ res_messeger }}</h3>
            {% endif %}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <form action="{% url 'course_result_test' %}" method="post">
                {% csrf_token %}
                {% for test_sub, tests in test.items %}
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h3>{{ test_sub }}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {% for a in tests %}

                            <p>
                                <input class="form-check-input" type="checkbox" value={{a.id}} name="{{ test_sub.id }}">
                                {{ a.text }}
                            </p>


                            {% endfor %}
                        </div>
                    </div>
                </div>
                <br>
                {% endfor %}
                <input type="hidden" name="course_id" value="{{ course.id }}">
                <input type="submit" value="Отправить" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>

{% endblock %}